// $background: linear-gradient(
//     rgb(250, 225, 210), 
//     rgb(159, 165, 255));
$background: floralwhite;
$standardfont: 'Times New Roman', Times, serif;
$headerfont: 'Great Vibes';

$screen-min: 350px; //min fluid size
$screen-small: 480px;
$screen-medium: 1024px;
$screen-uwide: 2400px; //extra for ultra wide displays and landscape
$screen-max: 1400px; //max container fluid size, else the boxes can be too big
$screen-maxuw: 2600px; //max container fluid size, else the boxes can be too big

$color1:  white;
$color2:  black;
$color3:  rgba(114, 196, 243, 0.6);
$color3o: rgba(114, 196, 243, 0);
$color4: darkslategray;
