// $background: linear-gradient(
//     rgb(250, 225, 210), 
//     rgba(159, 165, 255, 0.7));
$background: floralwhite;
$standardfont: 'Times New Roman', Times, serif;
$headerfont: 'Great Vibes';

$screen-min: 350px;
$screen-small: 480px;
$screen-medium: 1024px;

$color1: white;
$color2: black;
$color3: rgba(114, 196, 243, 0.6);
$color3o: rgba(114, 196, 243, 0);
$color4: darkslategray;
